
* {
  margin: 0;
  padding: 0;
  --blue: #0A112E;
  --orange: #F39C0D;
  color: var(--blue);
  font-family: 'Ubuntu', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  max-height: 96vh;
  min-height: 96vh;
}

button {
  border: none;
  background-color: var(--orange);
  color: var(--blue);
  padding: 10px;
  margin: 10px;
}

button:hover {
  border: none;
  background-color: var(--blue);
  color: var(--orange);
  padding: 10px;
  margin: 10px;
}

h1 {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: rgb(205, 201, 201);
  max-height: 4vh;
  min-height: 4vh;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-entry-field {
  width: 75vw;
  height: 50vh;
  padding: 3px;
}

#controls {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}

#btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}